$crayon-bg: #237449;

.crayon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 40px;

  background: $crayon-bg;

  background-image: 

    radial-gradient(
      ellipse at top,
      rgba(0, 0, 0, .6) 50px,
      transparent 54px
    ),

    linear-gradient(
      to right,
      transparent 25px,
      rgba(0, 0, 0, .6) 25px,
      rgba(0, 0, 0, .6) 30px,
      transparent 30px,
      transparent 35px,
      rgba(0, 0, 0, .6) 35px,
      rgba(0, 0, 0, .6) 40px,
      transparent 40px,
      transparent 210px,
      rgba(0, 0, 0, .6) 210px,
      rgba(0, 0, 0, .6) 215px,
      transparent 215px,
      transparent 220px,
      rgba(0, 0, 0, .6) 220px,
      rgba(0, 0, 0, .6) 225px,
      transparent 225px,
      transparent 250px
    ),

    linear-gradient(
      to right,
      transparent 12px,
      rgba(41, 237, 133, .6) 12px,
      rgba(41, 237, 133, .6) 235px,
      transparent 235px
    ),

    linear-gradient(
      to bottom,
      transparent 62%,
      rgba(0, 0, 0, .5) 100%
    );
  box-shadow: 2px 2px 3px rgba(0, 0, 0, .3);
  transform: translate(-50%, -50%);

  &:before,
  &:after {
    display: block;
    position: absolute;

    content: '';
  }

  &:before {
    top: 2px;
    left: -48px;

    height: 10px;

    border-right: 48px solid #237449;
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
  }

  &:after {
    left: -48px;

    width: 251px;
    height: 23px;

    padding-right: 47px;
    padding-top: 17px;

    color: rgba(0, 0, 0, .3);

    background-image: 
      linear-gradient(
        to right,
        transparent 46px,
        rgba(0, 0, 0, .3) 48px,
        transparent 48px,
      ),

      linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 12px,
        rgba(255, 255, 255, .2) 17px,
        rgba(255, 255, 255, .2) 19px,
        rgba(255, 255, 255, 0) 24px,
      );
    font: 400 12px Arial, sans-serif;
    text-align: right;

    content: 'green';
  }
}